
*
{
padding: 0%;
margin: 0%;


}

#step1{
    line-height: 70%;
}

#image{
   margin-left: 450px;
}
h4{
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(180, 12, 180);
    text-decoration: underline;
    margin-left: 450px;
   
}
.row{
   padding-left: 25px;
 
}
.row2{
   padding-left:80px;
  
   
}
table{

    color: white;
    font-size: 20px;
}


#bgcolor{
    background-color: blueviolet;
    margin-top: 10px;
}
.row2 span{
    font-size: 15px;
}
.head{
    font-size: 17px;
    font-family: sans-serif;
    padding-left: 25px;
    

}
span.add{
    margin-right: 120px;
    font-size: 15px;
    margin-left: 15px;
}
.head1{
    padding-right: 20px;
    padding-left: 10px;
}
img.sub{
    border: none;
    text-decoration: none;
}
input{
    padding: 3px;
    margin: 2px;
}
input:focus{
    border-color: cadetblue;
}
#bton{
    padding: 10px;
    border: none;
    background-color: greenyellow;
    color: white;
}


